.title {
    color: green;
}

body {
    margin: 0; /* Remove default body margin */
    min-height: 100vh; /* Ensure body takes full viewport height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    background-color: #1f1f1f;
    color: cornsilk
}

footer {
    margin-top: auto; /* Pushes the footer to the bottom */
    text-align: left; /* Optional: centers the text */
    padding: 7px 0; /* Optional: adds some vertical padding */
    background-color: #585858;
    /* color: #555; Optional: change text color */
}